language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2

install:
  - composer install

before_script:
  - curl -s http://getcomposer.org/installer | php

script: vendor/bin/phpunit --configuration tests/phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/codacycoverage clover build/logs/clover.xml

notifications:
  slack:
    secure: "J28EP+xh4KKdqtiUyW4vBHtBwhOuzb1SUvgvAkssZYaIVfpvPQGhuVcjVNzK1HCBRQQgAY4DV8dUXdDHo0H749MNA15NeNeA2ffoOKw3hD4ZMXzP7qfDYpXQkOZ2w3EcNdK4ybk5wy5O+tsOdwrv3rxe7AetURU/vuL6CN1l5Fw="