<phpunit bootstrap="bootstrap.php" colors="true" failOnWarning="true">
    <testsuites>
        <testsuite name="Staple Test Suite">
            <directory>Staple/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../library/Staple/</directory>
        </whitelist>
    </filter>
</phpunit>