<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Staple Test Suite">
            <directory>tests</directory>
            <file>tests/Staple/AliasTest.php</file>
            <file>tests/Staple/EncryptTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>