<phpunit bootstrap="bootstrap.php" colors="true" failOnWarning="true">
    <testsuites>
        <testsuite name="Staple Test Suite">
            <directory>Staple/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">../library/Staple/</directory>
        </include>
    </coverage>
    <source>
        <include>
            <directory>../library/Staple/</directory>
        </include>
    </source>
</phpunit>