// Code inline
p ,
li {
  > code {
    background: $grey-light;
    color: darken($grey, 10%);
    font-size: 90%;
    padding: 0.1em 0.5em;
    @include border-radius(3px);
  }
}

// Code blocks
[class*="highlighter"] {
  width: 100%;
  .highlight {
    padding: 1rem;
    margin: 2rem 0;
    @include border-radius(3px);
  }
}
